$primary: #58728A;
$borderColor: #E9E9EA;
$grey: #F4F6FA;

$img-width: 100% !default;
$img-background-repeat: no-repeat !default;
$img-loading-font-size: 1rem !default;
$img-content-position: absolute !default;
$img-content-padding: 16px !default;
$img-content-color: #fff !default;
$img-content-background: rgba(0, 0, 0, .47) !default;
