



.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}
$primary: #58728A;

body, html {
  font-size: 4vw;
  font-family: sans-serif;
  min-width: 400px;
  color: $primary;

  *:focus {
    outline: none !important;
    border: 2px solid #9FCBEF !important;
  }
}

@media  (orientation: landscape){
  body, html {
    font-size: 2vw;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (orientation: portrait){
  body, html {
    font-size: 3.5vw
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body, html {
    font-size: 2vw
  }
  body {
    padding: 0 1rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  body, html {
    font-size: 1.2vw
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body, html {
    font-size: 1vw
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1800px) {
  body, html {
    font-size: 0.6vw
  }
}

h1 {
  font-size: 1.5rem;
  color: $primary;
  //padding: 1rem 0;
}

